/*
    Theme Name: Bethany
    Theme URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
    background-color: #2A2C33;  
*/

body {
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  color: #fff;
  background-color: #838798;
}


blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.section-padding {
  padding: 60px 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Prompt';
    src: url('fonts/Prompt.ttf'); 
}

/**media Queries**/

.navbar-default {
  background-color: rgb(0, 194, 169, 0.8);
}

.main-header {
  background: url(../img/banner.jpg) no-repeat;
  background-size: cover;
  min-height: 610px;
}

.bg-color {
  background-color: RGBA(0, 0, 0, 0.41);
}

.nav>li>a {
  padding: 0px;
}

.navbar-brand {
  padding: 0px;
  height: inherit;
  font-family: 'Lato', sans-serif;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  }

.navbar-default .navbar-nav>li>a {
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: transparent;

}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #FFD34E;
  text-decoration: underline;
}

.navbar-fixed-top {
  padding: 40px 0;
  transition: all 0.5s;
}

@media (max-width: 768px) {
  .navbar-collapse {
    background: rgba(0, 0, 0, 0.8);
    border-top: 0;
  }
}

.top-nav-collapse {
  background: rgba(0, 0, 0, 0.8);
  padding: 25px 0;
}

.wrapper {
  padding: 90px 0px 130px;
}

.top-title {
  z-index: 5;
  font-size: 27px;
  font-weight: 700;
  color: #fff;
  line-height: 38px;
  letter-spacing: 4px;
  opacity: 1;
  text-transform: uppercase;
}

.sub-title {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  line-height: 71px;
  letter-spacing: 4px;
  opacity: 1;
  text-transform: uppercase;
}

.title {
  font-size: 123px;
  font-weight: 700;
  color: #fff;
  line-height: 88px;
  letter-spacing: 4px;
  opacity: 1;
  text-transform: uppercase;
  padding: 25px 0px;
}

.btn-submit {
  background: #2A2C33;
  border: 0px;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 40px;
  font-weight: normal;
  border-radius: 0px;
  letter-spacing: 1px;
  color: #333;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-top: 25px;
  border: 2px solid #2A2C33;
}

.btn-submit:hover {
  background: #fff;
}

/****/

#cta-1 {
  padding: 40px 0px;
}

.cta-info {
  border: 5px solid #2A2C33;
  padding: 40px 0px;
}

.cta-info h3 {
  font-size: 24px;
}

.dec-tec {
  font-size: 34px;
}

/****/

#feature {
  background-color: #f8f8f8;
}

.head-title {
  color: #2b2b2b;
  font-size: 32px;
  font-weight: 700;
}

.botm-line {
  background-color: #2b2b2b;
  width: 34px;
  height: 3px;
  display: inline-block;
}

.section-title:hover .botm-line {
  width: 70px;
  /* For Safari 3.1 to 6.0 */
  -webkit-transition-property: width;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 1s;
  /* Standard syntax */
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
}

p {
  color: #888;
}

.icon {
  position: relative;
  height: 48px;
  width: 48px;
  float: left;
  margin-top: 14px;
  margin-bottom: 20px;
}

.icon i {
  font-size: 35px;
}

.icon-text {
  margin-left: 73px;
  padding: 0px 25px 25px 0px;
}

h3.txt-tl {
  font-size: 24px;
  line-height: 1.35;
}

/****/

.parallax {
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: center center;
}

.bg-image-2 {
  background: url('../img/cta-banner.jpg') no-repeat center fixed;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section {
  position: relative;
  padding: 88px 0 67px 0;
  display: block;
}

.cta-txt h3 {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #fff;
}

.cta-txt p {
  color: #fff;
}

/****/

.portfolio-box {
  margin-bottom: 15px;
}

.padding-right-zero {
  padding-right: 0px;
}

#contact {
  background-color: #f8f8f8;
}

.validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#sendmessage {
  color: green;
  border: 1px solid green;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#sendmessage.show, #errormessage.show, .show {
  display: block;
}

.black {
  color: #000 !important;
  font-weight: 600;
}

.btn-send {
  border-radius: 0px;
  color: #000;
  background-color: #2A2C33;
}

a, a:hover {
  color: #1AB6A5;
}

.cont-title {
  font-size: 24px;
  padding: 15px 0px;
}

.location-info p span {
  display: inline-block;
}

.location-info p span {
  width: 40px;
  font-size: 24px;
  color: #666;
  vertical-align: middle;
}

.location-info p {
  margin-bottom: 5px;
}

.location-info p {
  font-size: 18px;
  line-height: 32px;
  color: #000;
}

.contact-icon-container {
  position: absolute;
  top: -38px;
  right: 0;
  padding-right: 20px;
  font-size: 320px;
  color: #555;
  line-height: 300px;
  -ms-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

/****/

#footer {
  background-color: #191919;
  padding: 20px 0px;
}

.footer-copyright {
  color: #fff;
  line-height: 32px;
  text-align: left;
}

.footer-social {
  float: right;
}

.footer-social a {
  font-size: 18px;
  color: #666;
}

.link-dec, .link-dec:hover {
  color: #000;
}

/****/

@media (min-width: 451px) and (max-width: 900px) {
  .section-title {
    margin-bottom: 15px;
  }
}

@media (min-width: 20px) and (max-width: 450px) {
  .navbar-toggle:hover, .navbar-toggle {
    background-color: #fff;
    color: #000;
  }
  .navbar-toggle {
    margin-top: 0px;
  }
  .navbar-default .navbar-nav>li>a {
    text-align: center;
  }
  .top-title {
    font-size: 15px;
  }
  .title {
    font-size: 50px;
  }
  .sub-title {
    font-size: 24px;
  }
  .footer-copyright {
    text-align: center;
  }
  .padding-right-zero {
    padding-right: 15px;
  }
  .section-title {
    margin-bottom: 15px;
  }
  .cta-txt h3 {
    font-size: 28px;
  }
  body {
    font-size: 14px;
  }
  h3.txt-tl {
    font-size: 20px;
  }
}

.content{
  width: 80%;
  height: 100%;
  background: #E2E4E8;
 display: block;
margin: auto;
padding: 8px;
}

@media (min-width: 901px) and (max-width: 2000px) {
  .content {
  width: 80%;
  height: 100%;
  background: #E2E4E8;
  display: block;
  margin: auto;
  padding: 8px;

  }
}
@media (min-width: 400px) and (max-width: 900px) {
  .content {
  width: 95%;
  height: 100%;
  background: #E2E4E8;
  display: block;
  margin: auto;
  padding: 8px;

  }
}

.content2{
  width: 60%;
  height: 100%;
  background: #E2E4E8;
 display: block;
margin: auto;
padding: 8px;
}

@media (min-width: 901px) and (max-width: 2000px) {
  .content2 {
  width: 60%;
  height: 100%;
  background: #E2E4E8;
  display: block;
  margin: auto;
  padding: 8px;

  }
}
@media (min-width: 400px) and (max-width: 900px) {
  .content2 {
  width: 95%;
  height: 100%;
  background: #E2E4E8;
  display: block;
  margin: auto;
  padding: 8px;

  }
}
.img-event{
  max-width: 100%;
  max-height: 30%;
}
.circle{ /* ชื่อคลาสต้องตรงกับ <img class="circle"... */
    height: 100%;  /* ความสูงปรับให้เป็นออโต้ */
    width: 100%;  /* ความกว้างปรับให้เป็นออโต้ */
    border: 2px solid #fff; /* เส้นขอบขนาด 3px solid: เส้น #fff:โค้ดสีขาว */
    border-radius: 100%; /* ปรับเป็น 50% คือความโค้งของเส้นขอบ*/
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* เงาของรูป */
}
.pic-member img{
  width: 50%;
  height: 50%;
  background-color: #111;
  display: block;
  margin: auto;
  border-radius: 100px;
}

.img-resize img {
  width: 100%;
  height: 488px;
  margin-bottom: 8px;
  border-radius: 5px;
}
.img-resize img.wide {
    max-width: 100%;
    max-height: 488px;
    height: auto;
}
.img-resize img.tall {
    max-height: 100%;
    max-width: 488px;
    width: auto;
}

.eventContent{
  width: 100%;
  height: 100%;
  background: #fff;
 
  color: #252525;
  border-radius: 5px;
   display: block;

  margin: auto;
 padding: 8px;
}

.eventContent-form{
  width: 100%;
  height: 100%;
  background: #fff;
   font-family: 'Prompt', sans-serif;
  color: #252525;
  border-radius: 5px;
  display: block;
 margin: auto;
 padding: 15px;
}
.eventContent-form2{
  width: 100%;
  height: 100%;
  background: #C4C8D0;
   font-family: 'Prompt', sans-serif;
  color: #252525;
  border-radius: 5px;
  display: block;
 margin: auto;
 padding: 15px;
}

@media (min-width: 451px) and (max-width: 900px) {
  .content_form {
  font-family: 'Prompt', sans-serif;
  width: 95%;
  height: 100%;
  display: block;
  margin: auto;
  padding: 8px;

  }
}

@media (min-width: 901px) and (max-width: 2000px) {
  .content_form {
  font-family: 'Prompt', sans-serif;
  width: 60%;
  height: 100%;
  display: block;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

  }
}

@media (min-width: 451px) and (max-width: 900px) {
  .eventContent {

    width: 100%;
  height: 100%;
  background: #fff;
 
  color: #252525;
  border-radius: 5px;
   display: block;

  margin: auto;
 padding: 8px;

  }
}

@media (min-width: 901px) and (max-width: 2000px) {
  .eventContent {
  width: 100%;
  height: 100%;
  background: #fff;
 
  color: #252525;
  border-radius: 5px;
   display: block;

  margin: auto;
 padding: 8px;

  }
}

.side_bar{
  width: 100%;
  height: 100%;
  background: #fff;
  margin: auto;
  padding: 8px;
  color: #252525;
  display: block;
  border-radius: 5px;
}
/****/
.contHead{
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
ul.a {list-style-type: circle;}
ul.b {list-style-type: square;}
ol.c {list-style-type: upper-roman;}
ol.d {list-style-type: lower-alpha;}
.line-shape-side{
    width: 100%;
    height: 2px;

    background-color: #00C2A9;
    margin-top: 5px;
    margin-bottom: 15px;
}

.line-shape-side {
     margin-left: auto;
    margin-right: auto;
}

.btn_register_run{
    width: 70%;
    height: 40px;
    background-color: #00C2A9; /* Green */
    border: none;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: auto;
    padding-top: auto;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;s
    margin-right: auto;
    border-radius: 5px;
    line-height: 40px;
}

@media (min-width: 901px) and (max-width: 2000px) {
  .btn_register_run {
    width: 70%;
    height: 40px;
    background-color: #00C2A9; /* Green */
    border: none;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: auto;
    padding-top: auto;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    line-height: 40px;
  }
}
@media (min-width: 400px) and (max-width: 900px;) {
  .btn_register_run {
  font-family: 'Prompt', sans-serif;

     width: 70%;
    height: 40px;
    background-color: #00C2A9; /* Green */
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: auto;
    padding-top: auto;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    line-height: 40px;
  }
}


.btn_can_run{
    width: 70%;
    height: 40px;
    background-color: #FAB44A; /* Green */
    border: none;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: auto;
    padding-top: auto;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    line-height: 40px;
}

.btn_register_run:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.table_align{
  margin-top: 15px;
  margin-bottom: 15px;
}
.tbody_tab{
  background: rgb(0, 194, 169, 0.8);
}
.tab-left-content{
   width: 100%;
  height: 30px;
  margin-left: 0px;
}

.tab-left{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgb(0, 194, 169, 0.5);
  padding: 5px;
   line-height: 20px;
}
.content_form{
   font-family: 'Prompt', sans-serif;
  width: 60%;
  height: 100%;
  display: block;
  margin: auto;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}
.form-dev{
  display: block;
  margin: auto;
  width: 90%
}

@media (min-width: 901px) and (max-width: 2000px) {
  .form-dev {
  font-family: 'Prompt', sans-serif;
  width: 90%
  

  }
}

@media (min-width: 451px) and (max-width: 900px) {
  .form-dev {
  font-family: 'Prompt', sans-serif;
  width: 90%;
  
  }
}
.signup-content{
  text-align: left;
}
.margin{
  margin-top: 5px;
}
.margin-b{
  margin-bottom: 25px;
}
.margin-b2{
  margin-bottom: 15px;
}
._right{
  margin-right: 0px;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.headmain{
  font-family: 'Prompt', sans-serif;
  font-size: 24px;
  color: #00C2A9;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
}
.headord{
  font-family: 'Prompt', sans-serif;
  font-size: 20px;
  color: #111;
  margin-top: 20px;
  margin-bottom: 20px;
}
.head1 {
  font-family: 'Prompt', sans-serif;
  font-size: 18px;
  color: #111;
  margin-top: 20px;
  margin-bottom: 20px;
}
.head2 {
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  color: #111;
    margin-bottom: 10px;
}

.head3 {
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  color: #838798;
  margin-bottom: 10px;
}
.head3_nopad{
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  color: #838798;
}
.head1_nopad{
  font-family: 'Prompt', sans-serif;
  font-size: 18px;
  color: #111;
  margin-top: 5px;
  margin-bottom: 10px;
}

.member-side-left{
background-color:#E2E4E8; 
border-radius: 5px; 
margin-top: 8px;
display: block;
padding-top: 10px;
}
.member-side-right{
background-color:#E2E4E8; 
border-radius: 5px; 
margin-top: 8px;
display: block;
padding-top: 10px;
}

.side-left{
  background-color:#fff; 
  width: 100%;
  height: 100%;
}

.side-right{
  background-color:#fff; 
  width: 100%;
  height: 100%;
}
.ontop{
  margin:0px;
  padding:0px;
}
.status-member{
   margin-top: 8px; 
   font-size: 14px; 
   margin-left: 0;
   text-align: left;
}
.ontoped {
  display: block;
  margin: auto;
  position:relative;
}
.key {
  color: red;
}