/*
    Theme Name: Bethany
    Theme URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
*/

body {
  line-height: 1.5;
  font-family: 'Prompt', sans-serif;
  overflow-x: hidden;
  line-height: 1.8;
  color: #222;
  font-weight: 400;
  background-image: url("../img/editprofile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
}
