/*
    Theme Name: Bethany
    Theme URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
    background-color: #00C2A9;  838798
*/

body {
  font-family: 'Prompt', sans-serif;
}